* {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --dark: #025159;
    --lgreen: #038C8C;
    --sand: #F2AA6B;
    --light: #F2DCC9;
}

.bg-dark {
    background-color: var(--dark);
}

.t-light {
    color: var(--light);
}
.t-dark {
    color: var(--dark);
}
.t-indent {
    text-indent: 1em;
}
.t-sand {
    color: var(--sand);
}
.bg-sand {
    background-color: var(--sand);
}
.t-lgreen {
    color: var(--lgreen);
}
.t-indent-minus {
    margin: 0 -40px;
}
.bg-lightb {
    background-color: var(--light);
}
.border-lbrown {
    border-color: var(--light);
}
